@import play.api.libs.json.JsValue
@(alldata: List[String])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>GTFS Visualize</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="@routes.Assets.at("css/tooplate_style.css")" rel="stylesheet" type="text/css" />
        <link href="@routes.Assets.at("css/coda-slider.css")" rel="stylesheet" type="text/css" charset="utf-8" />

        <script src="@routes.Assets.at("js/jquery-1.2.6.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/jquery.scrollTo-1.3.3.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/jquery.localscroll-1.2.5.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("js/jquery.serialScroll-1.2.1.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("js/coda-slider.js")" type="text/javascript")" charset="utf-8"></script>
        <script src="@routes.Assets.at("js/jquery.easing.1.3.js")" type="text/javascript")" charset="utf-8"></script>
        <script src="@routes.Assets.at("d3/d3.v3.min.js")"></script>
        <script src="@routes.Assets.at("d3/wigeocharts.min.js")"></script>
        <link href="@routes.Assets.at("d3/wigeocharts.css")" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Loading Bootstrap -->
        <link href="@routes.Assets.at("Flat-UI/dist/css/vendor/bootstrap.min.css")" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="@routes.Assets.at("Flat-UI/dist/css/flat-ui.css")" rel="stylesheet">
        <link rel="shortcut icon" href="@routes.Assets.at("Flat-UI/dist/img/favicon.ico")">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@routes.Assets.at("Flat-UI/dist/js/vendor/jquery.min.js")"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="@routes.Assets.at("Flat-UI/dist/js/flat-ui.min.js")"></script>
        <script src="@routes.Assets.at("Flat-UI/docs/assets/js/application.js")"></script>

        <script type="text/javascript">


function myRefresh() {

    var city_name = ["Athens", "Paris", "Portland"];
    var city = [false,false,false];
    var stat = [false,false,false,false,false,false,false,false];
    var e = document.getElementById("city");
    var opt;
    for (var i=0, len=e.options.length; i<len; i++) {
        opt = e.options[i];
        if ( opt.selected ) {
            city[i] = true;
            document.getElementById("city"+i).innerHTML =  '<div id="chart'+i+'" style="width:360px; height:400px;"/>';
        } else {
            document.getElementById("city"+i).innerHTML = "";
        }
    }
    e = document.getElementById("stat");
    for (i=0, len=e.options.length; i<len; i++) {
        opt = e.options[i];
        if ( opt.selected ) {
            stat[i] = true;
        }
    }

    var i = 0;
    @for(d <- alldata) {
        var data = @Html(d);
        if ((stat[i%8])&&(city[Math.floor(i/8)])) {
            var mycfg = {
                title: city_name[Math.floor(i/8)],
                description: "",
                measure: ""
            };
            var e = document.getElementById("graph");
            var t = e.options[e.selectedIndex].value;
            if(t==0) {
                wggChart.makeBar("chart"+Math.floor(i/8),data,mycfg);
            } else if(t==1) {
                wggChart.makePie("chart"+Math.floor(i/8),data,mycfg);
            } else {
                wggChart.makeDonut("chart"+Math.floor(i/8),data,mycfg);
            }
        }
        i++;
    }
};
        </script>

    </head>

    <body onload="myRefresh()">

        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">GTFS Visualisation</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-5">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <select id="stat" onchange="myRefresh()" data-toggle="select" class="form-control select select-danger mrs mbm">
                            <option value="0">Trips per Route</option>
                            <option value="1">Stops per Route</option>
                            <option value="2">Duration per Route</option>
                            <option value="3">Distance per Route(degrees)</option>
                            <option value="4">Distance per Route(km)</option>
                            <option value="5">Absolute distance per Route </option>
                            <option value="6">Trips per Stop</option>
                            <option value="7">Routes per Stop</option>
                        </select>
                    </li>
                    <li><a href="#">City:</a></li>
                    <li>
                        <select id="city" onchange="myRefresh()" data-toggle="select" multiple class="form-control multiselect multiselect-danger mrs mbm">
                            <option value="0">Athens</option>
                            <option value="1">Paris</option>
                            <option value="2">Portland</option>
                        </select>
                    </li>
                    <li><a href='#'>Graph Type:</a></li>
                    <li>
                        <select id="graph" onchange="myRefresh()" data-toggle="select" class="form-control select select-danger mrs mbm">
                            <option value="0">Bar</option>
                            <option value="1">Pie</option>
                            <option value="2">Donut</option>
                        </select>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="container">
            <div class="jumbotron" style="background-color:rgba(255,255,255,0.7)">
                <center>
                    <table>
                        <tr>
                            <td id = "city0"></td>
                            <td id = "city1"></td>
                            <td id = "city2"></td>
                        </tr>
                    </table>
                </center>
            </div>
        </div> 

    </body>
</html>
